{% extends "base.html" %}

{% block contenu %}

<section class="section">

<h2>Ajouter une filiale</h2>

<form method="POST" action="/ajout">

<label>Ville</label>
<input type="text" name="ville" required>

<label>Adresse</label>
<input type="text" name="adresse" required>

<label>Responsable</label>
<input type="text" name="responsable" required>

<label>Nombre d'employés</label>
<input type="number" name="employes" required>

<label>Adresse IP du routeur</label>
<input type="text" name="ip_routeur" required>

<button type="submit" class="btn">
Enregistrer la filiale
</button>

</form>

</section>

{% endblock %}